#BUS_SORT

#N
reset
confclk
cbitin
uin\[1\]
uin\[0\]
uempty
vempty
uout\[1\]
uout\[0\]

#E
rin\[1\]
rin\[0\]
rempty
hempty2
rout\[1\]
rout\[0\]

#S
reseto
confclko
cbitout
dout\[1\]
dout\[0\]
vempty2
dempty
din\[1\]
din\[0\]

#W
lout\[1\]
lout\[0\]
hempty
lempty
lin\[1\]
lin\[0\]
